/* =================banner===================== */
.banner{
    width: 100%;
    height: 100%;
}
.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: middle;
}
.swiper-button-next, .swiper-button-prev{
    color: rgb(54, 99, 24);
}

/* ==============section-hot================= */
.container{
    overflow: hidden;
}
.section-first, .section-second{
    width: 100%;
    margin: auto;   
}
.introduce, .introduce-mush{
    width: 100%;
    position: relative;
    z-index: 5;
}
.introduce h2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(67, 66, 66);
    margin:10px;
    margin-left: 30px;
    /* text-align: center; */
}
.introduce-mush h2{
    font-size: 30px;
    font-weight: bold;
    color: rgb(67, 66, 66);;
    margin:10px;
    margin-left: 30px;
    /* text-align: center; */
}
/* ==========色塊設定========== */
.introduce .head-decblock-skin{
    display: block;
    background-color:#FDE6BD;
    width: 380px;
    height: 150px;
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: -1;
}
.head-decblock-brown{
    position: absolute;
    background-color: rgba(223, 183, 157, 0.68);
    width: 400px;
    height: 120px;
    top: 40px;
    right: 38px;
    z-index: -1;
}
.head-decblock-green{
    position: absolute;
    background-color: rgba(210, 221, 197, 1);
    width: 250px;
    height: 60px;
    top: 5px;
    right: 20px;
    z-index: -1;
}
.head-decblock-yel{
    width: 190px;
    height: 90px;
    position: absolute;
    background-color: rgba(255, 212, 136, 1);
    top: 70px;
    left: -20px;
    z-index: -1;
}
.head-decblock-brown-sec{
    position: absolute;
    background-color: rgba(223, 183, 157, 0.68);
    width: 150px;
    height: 30px;
    top: 5px;
    right: 80px;
    z-index: -1;
}

/* ========內文設定======== */
.introduce p{
    font-size: 16px;
    color: rgb(117, 116, 116);
    letter-spacing: 3px;
    line-height: 30px;
    margin: 10px;
    margin-left: 30px;
    padding: 10px; 
}
.introduce-mush p{
    font-size: 16px;
    color: rgb(117, 116, 116);
    letter-spacing: 3px;
    line-height: 30px;
    margin: 10px;
    margin-left: 30px;
    padding: 10px;
}
.price-cart-buy{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.introduce-mush .price-cart-buy{
    justify-content: center;
    margin-top: 30px;
}
.price-cart-buy .price{
    color: rgb(255, 24, 24);
    font-size: 25px;
    font-weight: bold;
    font-family: 'Yaldevi', sans-serif;
    margin-right: 20px;
}
.price-cart-buy .cart::before{
    font-family: "Font Awesome 6 Free"; 
    font-weight: 700; 
    content: "\f07a";
    font-size: 25px;
    color: rgba(103, 103, 103, 1);
}
/*========= 購物車按鈕====== */
.price-cart-buy .cart{
    width: 50px;
    height: 50px;
    background-color: rgba(241, 220, 165, 1);
    border-radius: 5px;
    margin-right: 20px;
    border: none;
    box-shadow: 2px 2px 2px 0px #a8a8a8;
    transition: .3s;
}
.price-cart-buy .cart:hover{
    background-color: rgb(250, 207, 98);
    transform: scale(1.05);
}
.price-cart-buy .cart:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .2);
}
/* ==========一般按鈕========= */
.price-cart-buy .buy{
    width: 100px;
    height: 50px;
    background-color: rgba(255, 215, 114, 1);
    border-radius: 5px;
    /* margin: 20px; */
    border: none;
    box-shadow: 2px 2px 2px 0px #909090; 
    transition: .3s;
}
.price-cart-buy .buy:hover{
    background-color: rgb(255, 183, 0);
    transform: scale(1.05);
}
.price-cart-buy .buy:active {
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .2);
}
.price-cart-buy .buy a{
    font-size: 18px;
    font-weight: bold;
    color:rgb(117, 116, 116);
}
/* =========section-hot-pic=============== */
.intro-pic{
    width: 100%;
}
.intro-pic img{
    margin: 38px;
    width: 80%;
    height: 85%;
    border-radius:20px;
}

/* =========figure-hot========== */
.hot-head{
    padding: 30px;
}
.hot-head h2{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: rgb(67, 66, 66);
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}
.hot-more{
    width: 100%;
    font-size: 18px;
    text-align: right;
    display: none;
}
.hot-more a{
    color: rgb(96, 96, 96) ;
}
.flex-head{
    width: 100%;
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    margin-bottom: 20px;
}
.item-head{
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}
.item-head-touch{
    position: relative;
}
.item-head-touch .pic-head{
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.item-head-touch .pic-head img{
    width: 100%;
    height: 100%;
    vertical-align:middle;
    border-radius: 5px;
    transition: 0.8s;
}
.item-head:hover img{
    transform: scale(1.1);
}
.big-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #00000065;
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    transition: 0.5s;
    z-index: 1;
}
.big-cart:hover{
    opacity: 1;
}
.big-cart .big::before{
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900; 
    content: "\f002";
    font-size: 40px;
    color: rgb(190, 190, 190);
    margin: 10px;
}
.big-cart .cart::before{
    font-family: "Font Awesome 6 Free"; 
    font-weight: 900; 
    content: "\f07a";
    font-size: 40px;
    color: rgb(190, 190, 190);
    margin: 10px;
}
.item-head .product-title{
    margin: 8px;
    font-size: 16px;
    color: rgb(67, 66, 66);
}
.price-hot{
    margin: 8px;
    font-size: 18px;
    color: rgb(255, 24, 24);
    font-weight: bold;
    font-family: 'Yaldevi', sans-serif;
}
/* ============blogger============ */
.blogger{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    width: 100%;
}
.blogger-item{
    width: 100%;
    position: relative;
}
.blogger-item.last{
    display: none;
}
.blogger-item h3{
    font-size: 28px;
    font-weight: bold;
    color: rgb(67, 66, 66);
    margin-top: 50px;
    margin-left: 20px;
}
.blogger-item p{
    font-size: 16px;
    color: rgb(117, 116, 116);
    line-height: 30px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 30px;
}
.blogger-item .head-blogger-txt{
    display: none;
}
.blogger-item-pic{
    width: 90%;
    height: 100%;
    margin: 20px 0px;
    overflow: hidden;
    border-radius: 5px;
}
.blogger-item-pic img{
    width: 100%;
    height: 100%;
    transition: 0.8s;
}
.blogger-item-pic.sec{
    height: 100%;
    margin-top: 10px;
}
.blogger-item-pic.thir{
    height: 100%;
}
.blogger-item-pic.fou{
    height: 100%;
    margin-top: 130px;
}
.blogger-item-pic.fiv{
    height: 100%;
}
.blogger-item-pic:hover img{
    transform: scale(1.1);
}
.blogger-more{
    width: 100%;
    font-size: 18px;
    text-align: right;
    display: none;
}
.blogger-more a{
    color: rgb(96, 96, 96) ;
}
/* ============head-place================= */
.place{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
.place h2{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: rgb(67, 66, 66);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}
.place-taiwan{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 10px;
}
.place-taiwan img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
    border-radius: 5px;
    transition: .5s;
}
.place-taiwan img:hover{
    transform: scale(1.05);
}
.place-taipei{
    border-radius: 5px;
    overflow: hidden;
    margin: 5px;
    /* outline: 1px solid red; */
}
.place-taipei p{
    text-align: center;
    font-size: 20px;
    margin: 20px 0px;
    color:rgb(96, 96, 96) ;
    font-weight: bold;
    /* outline: 1px solid red; */
}
.place-taipei a{
    position: relative;
}

.place-taipei a::after{
    content: '';
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -10px;
    height: 0;
    border-bottom: 1px solid rgb(74, 74, 74);
    transition: 0.5s;
}
.place-taipei a:hover::after{
    left: 0%;
    right: 0%;
}







@media screen and (max-width:767px) {
    /* ===========section-hot============== */
    .sf{
        flex-direction: column;
    }
    .sf-in{
        order: 2;
    }
    .sf-pic{
        order: 1;
    }
}
@media screen and (min-width:768px){
    .introduce h2{
        font-size: 35px;
        margin-top: 40px;
    }
    .introduce-mush h2{
        font-size: 35px;
        margin-top: 120px;
    }
    .introduce p, .introduce-mush p{
        font-size: 24px;
        line-height: 33px;
    }
    .hot-head h2{
        font-size: 35px;
    }
    .hot-more{
        display: block;
    }
    
    .flex-head{
        display: grid;
        grid-template-columns:repeat(4,1fr) ;
    }
    .item-head{
        margin: 10px;
        padding: 10px;
    }
    .item-head .product-title{
        font-size: 20px;
    }
    .blogger-item h3{
        font-size: 30px;
    }
    .blogger-item p{
        font-size: 18px;
        margin-bottom: 30px;
    }
    .blogger-item .head-blogger-txt{
        display: block;
    }
    .blogger-item.last{
        display: block;
    }
    /* ==========色塊設定========== */
    .head-decblock-brown{
        right: 10px;
    }
    .head-decblock-green{
        right: 400px;
    }
    .head-decblock-yel{
        width: 300px;
        height: 150px;
    }
    .head-decblock-brown-sec{
        width: 200px;
        right: 400px;
        height: 50px;
    }


    .blogger-more{
        display: block;
    }
    .place-taiwan{
        grid-template-columns: repeat(3,1fr);
    }
    .place h2{
        font-size: 35px;
    }
}
@media screen and (min-width:1200px){
    .introduce h2{
        font-size: 40px;
    }
    .introduce-mush h2{
        font-size: 40px;
        margin-top: 150px;
    }
    .introduce p, .introduce-mush p{
        font-size: 26px;
    }
    .hot-head h2{
        font-size: 40px;
    }
    .item-head .product-title{
        font-size: 22px;
    }
    .blogger-item h3{
        font-size: 32px;
    }
    .blogger-item p{
        font-size: 20px;
    }
    .place h2{
        font-size: 40px;
    }
    .head-decblock-brown-sec{
        right: 550px;
    }
}