.container h2{
    width: 90%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    color: rgb(67, 66, 66);
}
hr.style-cart{
    width: 20%;
    margin: auto;
    height: 2px;
    border: 0;
    margin-top: 4px;
    background-color: rgba(151, 151, 151, 0.75);
}
.cart-title{
    width: 95%;
    display: flex;
}
.cart-title .cart-title-name{
    width: 20%;
    font-size: 16px;
    text-align: center;
    margin: 10px auto;
    color: rgb(117, 116, 116);
}
hr.style-one{
    border: 0;
    border-radius: 2px;
    width: 90%;
    margin: auto;
    height: 2px;
    background-color: rgba(151, 151, 151, 0.75);
}
.cart-item{
    width: 100%;
}
.cart-item-list{
    width: 96%;
    display: flex;
    background-color: rgba(253, 230, 189, 0.6);
    border-radius: 20px;
    margin: 5px;
}
.cart-item-list .cart-item-list-product{
    width: 20%;
    color:rgb(117, 116, 116);
    font-size:14px;
    margin: auto;
    text-align: center;
    margin: 5x;
}
.cart-item-list-product img{
    vertical-align: middle;
    width: 100%;
    border-radius: 20px 0px 0px 20px;
}
.cart-item-list-smalltotal{
    display: flex;
    justify-content: center;
}
.cart-item-list-name a{
    color:rgb(117, 116, 116);
}
.cart-item-list-amount{
    display: flex;
}

.cart-item-list-amount input{
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color:rgb(117, 116, 116);
}
.cart-item-list-amount .btnMinus, .cart-item-list-amount .btnPlus{
    text-align: center;
    font-size: 16px;
}

/* .cart-item-list-amount span{
    margin: 0px 10px;
    cursor: pointer;
}
.cart-item-list-amount .minus i{
    font-family: "Font Awesome 6 Free"; 
    font-weight: 700; 
    content: "\f068";
    font-size: 10px;
    color: rgba(103, 103, 103, 1);
}
.cart-item-list-amount .plus i{
    font-family: "Font Awesome 6 Free"; 
    font-weight: 700; 
    content: "\2b";
    font-size: 10px;
    color: rgba(103, 103, 103, 1);
} */
.cart-total{
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.cart-total-txt{
    font-size: 20px;
    margin: 20px;
    color:rgb(117, 116, 116);
}
.cart-total-price{
    font-size: 20px;
    margin: 20px;
    color:rgb(117, 116, 116);
    font-family: 'Yaldevi', sans-serif;
}
.cart-pay{
    width: 95%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 30px 0px;
}
.cart-pay-keep{
    width: 100px;
    text-align: center;
}
.cart-pay-keep a{
    font-size: 20px;
    color:rgb(117, 116, 116);
}
.cart-pay-now{
    text-align: center;
    width: 100px;
    height: 50px;
    background-color: rgba(255, 215, 114, 1);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 0px #909090; 
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.cart-pay-now:hover{
    background-color: rgb(255, 183, 0);
    transform: scale(1.05);
}
.cart-pay-now:active{
    transform: scale(1);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .2);
}
.cart-pay-now a{
    font-size: 20px;
    color:rgb(117, 116, 116);
    font-weight: bold;
}

@media screen and (max-width:767px) {
    .container h2{
        font-size: 30px;
        margin-top: 40px;
    }
    hr.style-cart{
        width: 40%;
    }
    .cart-title .cart-title-name:nth-child(1){
        display: none;
    }
    .cart-item-list .cart-item-list-product:nth-child(1){
        display: none;
    }
    .cart-item-list{
        padding: 20px 0px;
    }
}
@media screen and (min-width:768px){
    .container h2{
        font-size: 35px;
    }
    .cart-title h2{
        font-size: 24px;
    }
    .cart-title .cart-title-name{
        font-size: 25px;
    }
    .cart-item-list .cart-item-list-product{
        font-size: 25px;
    }
    .cart-total-txt{
        font-size: 25px;
    }
    .cart-pay-keep a{
        font-size: 25px;
    }
    .cart-total-price{
        font-size: 25px;
    }
    .cart-pay-now a{
        font-size: 25px;
    }
}
@media screen and (min-width:1200px){
    .container h2{
        font-size: 40px;
    }
}